.MenuParent{
    position: relative;
}

.MenuChild{
    position: absolute;
    top: 24px;
    left: 15px;
    /* padding: 20px 0 0 0; */
    display: none;
}

.MenuParent:hover .MenuChild{
    display: block;
}

@media only screen and (max-width: 600px) and (min-width: 320px)  {
    .MenuChild{
        left: 0;
        top: 36px;
    }
}