/*  */
.newExpencesBtn {
  padding: 0px 16px 0px 12px;
  border-radius: 60px;
  box-shadow: 0px 8px 34px rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.newexpencesparent {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.93),
      rgba(255, 255, 255, 0.93)
    ),
    #4d49ff;
}
